# .gitignore
# Glenn G. Chappell
# 2026-09-30
# gitignore file for CS 471 Fall 2026
#
# Based on ".gitignore everything by default" by Alex Pliutau
# https://packagemain.tech/p/gitignore-everything-by-default
# Retrieved 2026-09-05

# Ignore everything ...
*
# ... except:
!.gitignore
!README.md
!*.py
!*.swift
!*.cpp
!*.hpp

